<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Имена</title>
    <link rel="stylesheet", href="/static/css/style.css">
</head>
<body>
    <div id="menu">
        <div id="menu">
            <a href="/">Главная</a>
            <a href="/loging">Логирование</a>
            <a href="/about">О программе</a>
        </div>
        <div id="content">
            {% for name in entities %}
                <p> {{ name}} </p>
            {% endfor %}
        </div>
    </div>
</body>
</html>